.mainPreviewCard {
  position: absolute;
  overflow: hidden;
  animation-duration: 3.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transform-origin: top left;
  will-change: transform;
}

.mainPreviewCard1 {
  left: 0;
  top: 0;
  width: 335px;
  height: 93px;
  animation-name: main-preview-card-1;
}

.mainPreviewCard2 {
  left: 36px;
  top: 99px;
  width: 263px;
  height: 65px;
  animation-name: main-preview-card-2;
}

.mainPreviewCard3 {
  left: 79px;
  top: 170px;
  width: 177px;
  height: 44px;
  animation-name: main-preview-card-3;
}

@keyframes main-preview-card-1 {
  0%,
  24.24% {
    transform: translate(0, 0) scale(1, 1);
  }
  33.33%,
  57.57% {
    transform: translate(62px, 0) scale(0.63, 0.634);
  }
  66.66%,
  90.9% {
    transform: translate(91px, 0) scale(0.457, 0.462);
  }
  100% {
    transform: translate(0, 0) scale(1, 1);
  }
}

@keyframes main-preview-card-2 {
  0%,
  24.24% {
    transform: translate(0, 0) scale(1, 1);
  }
  33.33%,
  57.57% {
    transform: translate(-22px, -33px) scale(1.167, 1.169);
  }
  66.66%,
  90.9% {
    transform: translate(28px, -50px) scale(0.787, 0.785);
  }
  100% {
    transform: translate(0, 0) scale(1, 1);
  }
}

@keyframes main-preview-card-3 {
  0%,
  24.24% {
    transform: translate(0, 0) scale(1, 1);
  }
  33.33%,
  57.57% {
    transform: translate(-14px, -21px) scale(1.158, 1.159);
  }
  66.66%,
  90.9% {
    transform: translate(-52px, -64px) scale(1.588, 1.591);
  }
  100% {
    transform: translate(0, 0) scale(1, 1);
  }
}
